<div class="explanation">
<p>TwitterFitter is a place where you can join any two Twitter feeds to make new and interesting tweets!</p>
<p>Start by entering two different Twitter handles up above, and click 'Combine!'</p>
<p>After your tweets are generated, you can choose one to tweet out from the TwitterFitter account
  <a href="http://twitter.com/fittertweets">@FitterTweets</a>. And don't forget to follow us to see
  what tweets other people have combined!</p>
</div>