<footer>
  <div class="container">
  <h2>Follow Us <a href="http://twitter.com/fittertweets">@FitterTweets</a></h2>
  <p>TwitterFitter is a Markov Chain generator written for fun by Jimmy Lo. Follow my other coding projects on <a href="https://github.com/jimmylorunning">GitHub</a>, my <a href="http://jimmylocoding.com">blog</a>, or my personal <a href="http://twitter.com/jimmylocoding">Twitter</a> account.</p>
  </div>
</footer>
