/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
  #FAB937;
*/

$twitter-blue: #4099FF;
$yellowish: #FAB937;
$light-gray: #EFEFEF;
$dark-gray: #232323;

body {
	background-color: $dark-gray;
}

.alert-container {
	width: 100%;
	padding-top: 1em;
	background-color: $twitter-blue;
}

.alert {
	width: 80%;
	margin: 0em auto 0em auto;
}

.main {
	margin-top: 0;
	padding-top: 0;
	width: 100%;
	background-color: $light-gray;
}

.jumbotron {
	background-color: $twitter-blue;
	font-family: 'Open Sans', sans-serif;
	margin-bottom: 0;
}

.btn-custom {
	margin-left: 1em;
	background-color: lighten($yellowish, 10%);
	&:hover {
		background-color: lighten($yellowish, 20%);
	}
}

.main-body {
	padding-bottom: 3em;
	form {
		padding: 2em 0;
	}
}

footer {
	color: white;
	padding: 5em 0;
	width: 100%;
	background-color: #232323;
}